footer {
    padding: 15px 0;
    background-color: #f8f8f8;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.footer-link {
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: underline;
}